    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: 'Inter', sans-serif;
      background-color: #fff;
      color: #000;
    }

    .slider {
      width: 100%;
      aspect-ratio: 21/4;
      background-color: #000;
      position: relative;
    }

    .slider-background {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(30%);
    }

    .slider-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      text-align: center;
    }

    h1 {
      font-size: 2rem;
      margin-bottom: 10px;
    }

    h2 {
      font-size: 2rem;
      margin-bottom: 20px;
      text-align: center;
    }

    .section {
      padding: 40px 20px;
    }

    .boxed {
      max-width: 1280px;
      margin-inline: auto;
    }

    .flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 50px;
    }

    .gap20 {
      gap: 20px;
    }

    .w25 {
      width: 250px;
    }

    .w50 {
      width: 250px;
    }

    .skill {
      background: rgb(132, 169, 140);
      border-radius: 15px;
      padding: 20px;
      text-align: center;
      transition: transform 0.3s ease;
    }

    .skill:hover {
      transform: scale(1.05);
    }

    .skill img {
      width: 200px;
      height: 100px;
      object-fit: contain;
    }

    header {
      background-color: rgb(132, 169, 140);
      padding: 18px;
      text-align: center;
    }

    nav a {
      margin: 0 10px;
      text-decoration: none;
      color: #333;
    }

    .photo {
      margin-right: 20px;
      border: 10px ridge rgb(132, 169, 140);
    }

    .photo img {
      width: 250px;
      border-radius: 10px;
    }

    .projet {
      margin-bottom: 20px;
      border: 1px solid #ccc;
      padding: 10px;
    }

    .dark {
      background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/thumb_binaire-520x245.png);
      background-size: cover;
      background-position: center;
      color: #f3f3f3;
      width: 100%;
    }

    .w60 {
      width: 60%;
      height:min-content;
      max-width: 100%;
      border: 5px solid rgb(132, 169, 140);
      padding-inline: 20px;
    }

    .text-center {
      text-align: center;
    }

    /* --- SECTION CONTACT --- */
    .contact {
      background-color: #f7f7f7;
    }

    .contact .flex {
      justify-content: center;
    }

    .icon {
      font-size: 48px;
      color: #fff;
      background-color: #2c2c2c;
      border-radius: 50%;
      padding: 10px;
      margin-bottom: 10px;
    }

    .label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }

    .value {
      display: block;
    }
  

 .photo_projet {
  max-width: 300px;
  width: 100%;
  margin: 0 auto; /* centre le bloc */
  text-align: center; /* centre l’image à l’intérieur */
}

.photo_projet img {
  width: 100%;
  height: auto;
  display: inline-block;
  cursor: zoom-in
}


/* modal (fond noir) */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  text-align: center;
}

/* image agrandie */
.modal-img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}

/* bouton fermer */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: white;
  font-size: 40px;
  cursor: pointer;
}






